---
---

@import "{{ site.theme }}";

// Add your custom CSS here

a:hover {
    font-weight: unset;
}

@media print, screen and (max-width: 960px) {
    header {
        padding-right: unset;
    }
} 

@media print, screen and (max-height: 750px) {
    footer {
        display: none;
    }
} 

.wrapper {
    width: 1200px;
}

section {
    width: 800px;
}

#markdown-toc {
    ul {
        margin-bottom: 0;
    }
}