---
---

@import "{{ site.theme }}";

// Add your custom CSS here

a:hover {
    font-weight: unset;
}

@media print, screen and (max-width: 960px) {
    header {
        padding-right: unset;
    }
} 